%text-style {
  margin: 0;
}

.accordion {
  min-width: 358px;
  width: 100%;
  margin: 0;

  &_with-border {
    padding-top: 24px;
    border-top: 1px solid var(--accent-yellow-light);
  }

  &_with-border:last-child {
    border-bottom: 1px solid var(--accent-yellow-light);
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__title {
    @extend %text-style;

    color: var(--text-black-80);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    cursor: pointer;
  }

  &__icon {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &-content_opened {
    border-top: 1px solid var(--background-grey-blue-40);
  }
}
