.contacts-map {
	max-width: 358px;
	background-color: var(--white);
	border-radius: 12px;

	&__contaner {
		position: relative;
		overflow: hidden;
	}

	&__ymap {
		width: 358px;
		height: 224px;
		overflow: hidden;
		border-top-left-radius: 12px;
		border-top-right-radius: 12px;
	}
}
