.popup-reviews {
  &__title {
    margin: 0;
    color: var(--accent-black-80, #3b3e49);
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
  }

  &__stars {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 24px 0 32px;
  }
  &__checkbox {
    display: flex;
    align-items: center;
  }
  &__text {
    color: var(--accent-black-80, #3b3e49);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
    margin-right: auto;
  }
  &__subtitle {
    color: var(--text-black-80, #3b3e49);
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 20px;
  }
  &__form {
    margin-top: 32px;
  }
}
