%text-style {
  margin: 0;
  color: var(--accent-black-90);
  line-height: 1.25;
}

.pricing {
  margin-right: 12px;
  padding: 16px 24px;
  text-align: left;
  background-color: var(--white);
  border: none;
  border-radius: 28px;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);
  cursor: pointer;

  &__title {
    @extend %text-style;

    padding-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
  }

  &__description {
    @extend %text-style;

    padding-bottom: 8px;
    color: var(--text-black-40);
    font-size: 14px;
  }

  &__price {
    @extend %text-style;

    font-size: 18px;
    line-height: 1.2;
  }

  &_active {
    padding: 14px 22px;
    border: 2px solid var(--accent-yellow-light);
    box-shadow: none;
  }
}
