.footer {
  position: relative;
  max-width: 768px;
  height: 575px;
  color: #fff;
  background-color: #3b3e49;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 40px 16px 0;
    row-gap: 50px;
  }

  &__main {
    display: flex;
    flex-direction: row;
    column-gap: 26px;
    justify-content: space-between;
  }

  &__logo {
    display: inline-block;
    height: 50px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__documents {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    row-gap: 15px;
  }

  &__copyright {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    line-height: 135%;
    row-gap: 24px;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
  }

  &__main-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__phone-block {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__phone-number {
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
  }

  &__link {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    line-height: 125%;
    text-decoration: none;
  }

  &__contacts {
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }
}
