.create-order {
  padding-left: 16px;

  &__content {
    @media (width >= 768px) {
      & {
        display: grid;
        grid-template-columns: 390px 1fr;
        column-gap: 22px;
      }

      @media (width >= 1024px) {
        & {
          display: grid;
          grid-template-columns: 500px 1fr;
          column-gap: 52px;
        }
      }

      @media (width >= 1280px) {
        & {
          display: grid;
          grid-template-columns: 709px 1fr;
          column-gap: 52px;
        }
      }
    }
  }

  &__title {
    margin: 0;
    padding-bottom: 20px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;

    @media (width >= 1440px) {
      & {
        padding-bottom: 28px;
        font-size: 24px;
      }
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    padding-bottom: 28px;

    :nth-child(2) {
      margin-bottom: 20px;
    }

    @media (width >= 1440px) {
      & {
        padding-bottom: 48px;
      }

      :nth-child(2) {
        margin-bottom: 40px;
      }
    }
  }

  &__check-map {
    display: flex;
    justify-content: center;

    @media (width >= 768px) {
      & {
        display: none;
      }
    }
  }

  &__map-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    color: var(--accent-black-90);
    font-weight: 500;
    font-size: 18px;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &__icon {
    padding-right: 5px;
  }

  &__views {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;

    @media (width >= 1440px) {
      & {
        flex-direction: row;
      }
    }
  }

  &__ditch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 29px;
    padding-right: 16px;
    padding-bottom: 32px;

    &:first-of-type {
      padding-bottom: 0;
    }

    &_container {
      @media (width >= 1440px) {
        & {
          max-width: 318px;
        }
      }
    }

    @media (width >= 1440px) {
      & {
        margin-top: 48px;
        margin-bottom: 48px;
        padding: 16px;
        border: 2px solid var(--background-grey-blue-40);
        border-radius: 12px;
      }
    }
  }

  &__button {
    @media (width >= 1440px) {
      & {
        padding-left: 40px;
      }
    }
  }

  &__price {
    padding-right: 16px;
  }

  &__comment {
    padding: 0 16px 28px 0;

    @media (width >= 1440px) {
      & {
        padding-bottom: 48px;
      }
    }
  }

  &__map {
    position: sticky;
    top: 0;
    height: fit-content;
  }
}
