%text-style {
  margin: 0;
  color: var(--text-black-90);
}

.auth-title {
  &__label {
    @extend %text-style;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }

  &__subtitle {
    @extend %text-style;

    padding-top: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
}
