.comment {
  &__container {
    position: relative;
    width: 358px;
    min-height: 98px;
  }

  &__textarea {
    width: 294px;
    min-height: 66px;
    padding: 16px 48px 16px 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);
    resize: none;
    caret-color: var(--accent-yellow-light);

    &_variant-writing {
      border: 1px solid var(--accent-yellow-light);
      caret-color: var(--accent-yellow-light);
    }

    &_variant-done {
      border: 2px solid var(--accent-yellow-light);
      caret-color: var(--accent-yellow-light);
    }
    .popup-reviews__form & {
      width: 245px;
      margin-bottom: 32px;
    }
    .popup-cancellations__container & {
      width: 245px;
      margin-bottom: 28px;
    }
  }

  &__close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  &__counter {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: var(--text-black-40);
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }
}
