%icon-style {
  position: absolute;
  top: 16px;
  right: 16px;
}

.comment {
  &__container {
    position: relative;
    width: 358px;
    min-height: 98px;
  }

  &__close-icon {
    @extend %icon-style;

    display: none;
  }

  &__textarea {
    width: 294px;
    min-height: 66px;
    padding: 16px 48px 16px 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);
    resize: none;
    caret-color: var(--accent-yellow-light);

    &:focus {
      border: 1px solid var(--accent-yellow-light);
      caret-color: var(--accent-yellow-light);
    }

    &:focus:not(:placeholder-shown) + .comment__close-icon {
      display: block;
    }

    &:not(:focus, :placeholder-shown) {
      border: 2px solid var(--accent-yellow-light);
      caret-color: var(--accent-yellow-light);
    }
  }

  &__counter {
    position: absolute;
    right: 16px;
    bottom: 16px;
    color: var(--text-black-40);
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
  }
}
