.handleCounter {
	margin: 32px 16px;
}

.handleCounter__count {
	display: flex;
}
.handleCounter__span {
	color: var(--text-black-90, #2b2a29);
	font-family: 'Mulish', 'Arial', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 125%;
	margin: 0 20px;
}
