.banner {
  min-height: 570px;
  background-image: url('../../../assets/images/banner.png');
  background-repeat: no-repeat;
  background-size: cover;

  @media (width >= 1024px) {
    & {
      min-height: 672px;
      background-position: 25% 26.6%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    max-width: 1320px;
    margin: 0 auto;
    padding-top: 29px;
    padding-left: 20px;

    @media (width >= 1024px) {
      & {
        padding: 52px 60px 0;
      }
    }
  }

  &__title {
    margin: 0;
    color: var(--text-white);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;

    @media (width >= 1024px) {
      & {
        font-size: 40px;
        line-height: 135%;
      }
    }
  }

  &__cards {
    display: flex;
    max-width: 1360px;
    margin: 179px auto 0;
    padding-left: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (width >= 1024px) {
      & {
        flex-direction: row-reverse;
        margin: 183px auto 0;
        padding: 0 80px 0 0;
      }
    }
  }

  &__cards > &__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-right: 4px;
    transform-origin: center center;
    scroll-snap-align: start;

    &:last-child {
      margin-right: 16px;
    }

    @media (width >= 1024px) {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
