.contacts {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  padding: 48px 16px 56px;
  background-color: var(--background-grey-light-blue-40);

  &__content {
    @media (width >= 768px) {
      & {
        width: 100%;
        margin: 0 auto;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 358px;
    padding-bottom: 28px;

    @media (width >= 768px) {
      & {
        padding-left: 60px;
      }
    }

    @media (width >= 1440px) {
      & {
        padding-left: 100px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    padding: 12px 20px;
    color: var(--accent-black-90);
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 1.35;
    background: var(--background-grey-blue-40);
    border-radius: 28px;
  }
}
