.feedbacks {
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--background-grey-blue-40);

  &__container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 74px;
    padding-left: 16px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }

  @media (width >= 1024px) {
    &__title {
      margin-bottom: 82px;
      padding-left: 60px;
      font-size: 40px;
      line-height: 1.45;
    }
  }

  &__cards {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media (width >= 1024px) {
    &__cards {
      margin-left: 44px;
    }
  }

  &__cards > &__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-right: 20px;
    transform-origin: center center;
    scroll-snap-align: start;
  }
}

@media (width >= 1024px) {
  .feedbacks {
    padding-top: 84px;
    padding-bottom: 100px;
  }
}
