.feedbacks {
  max-width: 768px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--background-grey-blue-40);

  &__title {
    margin: 0;
    padding-left: 16px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
  }

  &__cards {
    display: flex;
    margin-top: 28px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__cards > &__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-right: 20px;
    transform-origin: center center;
    scroll-snap-align: start;
  }
}
