.alert {
  display: grid;
  grid-template-columns: 16px auto;
  width: fit-content;
  padding: 16px 12px;
  background-color: rgb(255 204 0 / 10%);
  border-radius: 12px;

  &__icon {
    padding-top: 2px;
  }

  &__description {
    margin: 0;
    padding-left: 12px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    line-height: 1.25;
  }
}
