.register-widget {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 390px;
  max-width: 768px;
  background-color: var(--background-grey-light-blue-40);

  &__back-button {
    padding-top: 20px;
  }

  &__navigation {
    display: flex;
    padding-top: 32px;
    padding-left: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
