.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  visibility: hidden;
  opacity: 0;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    width: 308px;
    min-height: 292px;
    padding: 40px 28px 28px;
    background: var(--background-white, #fff);
    border-radius: 20px;
  }

  &__content_bottom {
    align-self: flex-end;
    width: 358px;
    min-height: 379px;
    padding: 44px 16px;
    border-radius: 28px 28px 0 0;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 25px;
    padding: 0;
    background: none;
    background-position: center;
    border: none;
    cursor: pointer;
  }
}
