.contacts-map {
  display: flex;
  flex-direction: column;
  min-width: 358px;
  background-color: var(--white);
  border-radius: 12px;

  @media (width >= 768px) {
    & {
      flex-direction: row;
      margin-right: 60px;
      margin-left: 60px;
    }
  }

  @media (width >= 1440px) {
    & {
      margin-right: 100px;
      margin-left: 100px;
    }
  }

  &__contaner {
    position: relative;
    overflow: hidden;
  }

  &__ymap {
    max-width: 358px;
    max-height: 224px;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    @media (width >= 1024px) {
      & {
        border-radius: 12px;
      }
    }

    @media (width >= 1440px) {
      & {
        min-width: 600px;
        min-height: 400px;
      }
    }
  }
}
