.chip {
  margin-right: 12px;
  padding: 16px 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.25;
  background-color: var(--white);
  border: none;
  border-radius: 28px;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);
  cursor: pointer;

  &_active {
    padding: 14px 18px;
    border: 2px solid var(--accent-yellow-light);
    box-shadow: none;
  }

  &[disabled] {
    color: var(--background-grey-blue-40);
    cursor: default;
  }
}
