%text-style {
  margin: 0;
  color: var(--accent-black-80);
}

.order-details {
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 16px;
    padding-left: 0;
    list-style-type: none;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &__title {
    @extend %text-style;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.25;
  }

  &__selected {
    @extend %text-style;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
  }

  &__button {
    @extend %text-style;

    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
    background-color: transparent;
    border: none;
    text-decoration-line: underline;
    cursor: pointer;
  }

  &_opened {
    @extend %text-style;

    padding-top: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
  }
}
