.header {
  position: relative;
  z-index: 100;
  width: 390px;
  height: 64px;
  color: var(--text-black-80);
  font-family: Mulish, Helvetica, Arial, sans-serif;
  background-color: white;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px 8px;
  }

  &__phone-number {
    margin-left: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 145%; /* 29px */
  }

  &__button {
    padding: 0;
    background-color: white;
    border: none;
    cursor: pointer;
  }
}
