.header {
  position: relative;
  z-index: 100;
  max-width: 1440px;
  height: 64px;
  color: var(--text-black-80);
  background-color: white;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

  @media (width >= 1440px) {
    & {
      max-width: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px 8px;
  }

  @media (width >= 1024px) {
    &__container {
      max-width: 1320px;
      margin: 0 auto;
      padding: 6px 60px 8px;
    }
  }

  &__call {
    background-color: white;
    border: none;
  }

  @media (width >= 1024px) {
    &__call {
      display: none;
    }
  }

  &__phone-number {
    margin-left: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 145%;
  }

  &__button {
    padding: 0;
    background-color: white;
    border: none;
    cursor: pointer;

    @media (width >= 1024px) {
      &:last-of-type {
        display: none;
      }
    }
  }
}
