.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;

  &__icon {
    padding: 0;
  }

  &__title {
    margin: 0;
    padding-bottom: 3px;
    padding-left: 4px;
    color: var(--accent-black-80);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
  }
}
