.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 390px;
  min-height: calc(100vh - 64px);
  background: var(--background-grey-light-blue-40);

  @media (width >= 768px) {
    & {
      min-width: 100vh;
      min-height: 100vh;
    }
  }

  &__error {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    margin-top: 174px;
    margin-bottom: 1.75px;
  }

  &__number {
    z-index: 2;
    margin: 0;
    padding: 0;
    color: var(--accent-yellow-light);
    font-weight: 700;
    font-size: 114px;
    font-style: normal;
    line-height: 125%;
  }

  &__wheel {
    position: absolute;
    left: 53px;
    z-index: 1;
    width: 80px;
    height: 80px;
  }

  &__caption {
    margin: 0 0 26px;
    padding: 0;
    color: var(--text-black-80);
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 120%;
  }

  &__post-caption {
    max-width: 319px;
    margin: 0 0 102px;
    padding: 0;
    color: var(--text-black-80);
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 120%;
    text-align: center;
  }

  &__button-container {
    width: 358px;
  }
}
