%icon-style {
  position: absolute;
  top: 30px;
  right: 12px;
}

.input {
  border-radius: 12px;

  &__placeholder {
    position: absolute;
    top: 25px;
    left: 12px;
    display: block;
    color: var(--text-black-40);
    font-size: 18px;
  }

  &__container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__icon,
  &__success-icon,
  &__delete-icon {
    @extend %icon-style;

    display: none;
  }

  &__delete-icon {
    border: none;
    background-color: transparent;
  }

  &__error-text {
    display: none;
    padding: 4px 0 0 16px;
    margin: 0;
    color: var(--system-error);
    font-size: 12px;
  }

  &:not(&_filled) &__text:not(:focus) ~ &__icon {
    display: inherit;
  }

  &_filled:not(&_readonly).input_invalid &__delete-icon,
  &_filled:not(&_readonly) &__text:focus ~ &__delete-icon {
    display: inherit;
  }

  &_filled:not(&_invalid, &_readonly) &__text:not(:focus) ~ &__success-icon {
    display: inherit;
  }

  &_filled.input_password:not(&_invalid, &_readonly)
    &__text:not(:focus)
    ~ &__eye-icon {
    display: inherit;
  }

  &__text {
    box-sizing: border-box;
    width: 100%;
    min-width: 299px;
    padding: 38px 42px 12px 12px;
    color: var(--text-black-90);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

    &:focus {
      border: 1px solid var(--accent-yellow-light);
      box-shadow: none;
      caret-color: var(--accent-yellow-light);
    }
  }

  &_invalid &__text:not(:focus) {
    border: 1px solid var(--system-error);
    box-shadow: none;

    & ~ .input__error-text {
      display: block;
    }
  }

  &_filled:not(&_readonly, &_invalid) &__text:not(:focus) {
    padding: 37px 41px 11px 11px;
    border: 2px solid var(--accent-yellow-light);
    box-shadow: none;
  }

  &_filled &__placeholder,
  &__text:focus ~ .input__placeholder {
    top: 12px;
    font-size: 14px;
  }

  &_static.input {
    .input__placeholder {
      top: 16px;
    }

    &.input_filled .input__placeholder,
    & .input__text:focus ~ .input__placeholder {
      display: none;
    }

    // Не удается вынести выше, т.к стиль перестает работать
    /* stylelint-disable-next-line no-descending-specificity */
    .input__text {
      padding: 16px 42px 16px 16px;

      /* stylelint-disable-next-line no-descending-specificity */
      & ~ .input__delete-icon,
      & ~ .input__success-icon,
      & ~ .input__icon {
        top: 20px;
      }
    }

    .input_static.input_filled:not(&_invalid) .input__text:not(:focus) {
      padding: 15px 41px 15px 15px;
    }
  }
}
