.transports {
  padding-left: 16px;

  &__weight {
    padding-top: 32px;
  }

  &__title {
    margin: 0;
    padding-bottom: 20px;
    color: var(--text-black-80, #3b3e49);
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }

  &__views {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__views > &__card {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    transform-origin: center center;
    scroll-snap-align: start;
  }

  &__counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-right: 16px;
  }

  &__count {
    display: flex;
    align-items: end;
  }

  &__span {
    padding-right: 16px;
    padding-left: 16px;
    color: var(--text-black-90, #2b2a29);
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 125%;
  }

  &__ditch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 29px;
    padding-right: 16px;
  }

  &__price {
    padding-right: 16px;
  }

  &__comment {
    padding: 32px 16px 28px 0;
  }
}
