%text-style {
  margin: 0;
  color: var(--text-black-80);
  font-family: Mulish, Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

.order-cancel {
  min-width: 318px;
  max-width: 696px;
  padding: 0 20px 28px;
  background-color: var(--white);
  border-radius: 12px;

  &__address {
    padding-top: 28px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    font-weight: 700;
    font-size: 20px;

    @extend %text-style;
  }

  &__price-title {
    margin: 0;
  }

  &__price-total {
    margin: 0;
    font-weight: 500;
    font-size: 18px;

    @extend %text-style;
  }

  &__button {
    padding: 28px 0 24px;
  }

  &__info {
    padding-top: 28px;
  }

  &__delete {
    display: flex;
    gap: 12px;
    align-items: center;
    max-width: 318px;
    margin: 24px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @extend %text-style;
  }
}
