.button-toggle__lab {
  display: inline-block;
}

.button-toggle__input {
  position: absolute;
  width: 51px;
  height: 31px;
  opacity: 0;
  appearance: none;
}

.button-toggle__span {
  position: relative;
  z-index: 1;
  display: inline-block;

  &::before {
    display: block;
    width: 51px;
    height: 31px;
    background: var(--fills-secondary-dark, rgb(120 120 128 / 32%));
    border-radius: 18px;
    transition: 0.5s ease;
    content: '';
  }

  &::after {
    position: absolute;
    top: 2px;
    left: 3px;
    display: block;
    width: 27px;
    height: 27px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.5s ease;
    content: '';
  }
}

.button-toggle__input:checked + .button-toggle__span::before {
  background: var(--accent-yellow-light, #fc0);
}

.button-toggle__input:checked + .button-toggle__span::after {
  left: 20px;
  background-color: #fff;
}
