.questions {
  width: fit-content;
  max-width: 768px;
  width: 100%;
  padding: 48px 0;
  background: var(--white);

  &__header {
    padding: 0 16px;
  }

  &__title {
    margin: 0;
    padding: 24px 0 36px;
    color: var(--text-black-90);
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 1.25;
  }
}
