.question {
	padding: 28px 16px;
	border-top: 1px solid var(--background-grey-blue-40, #dee7ec);
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 390px;

	&:last-child {
		border-bottom: 1px solid var(--background-grey-blue-40, #dee7ec);
	}

	&__container {
	}

	&__button {
		border: none;
		background: var(--background-white, #fff);
		padding: 0;
		cursor: pointer;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 20px;
		text-align: start;
		overflow: hidden;
		color: var(--text-black-90, #2b2a29);
		text-overflow: ellipsis;
		font-family: Mulish;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 29px; /* 29px */
	}

	&__icon {
		display: flex;
		align-self: center;
	}

	&__answer {
		color: var(--text-black-90, #2b2a29);
		font-family: Mulish;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 145%; /* 23.2px */
	}
}
