.pricing-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 358px;
  margin-top: 16px;

  &__image {
    margin-top: 4px;
  }

  &__text {
    margin: 0;
    color: var(--text-black-40);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
  }
}
