.profile {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-grey-light-blue-40);
  visibility: hidden;
  opacity: 0;
  transition: top 0.35s ease;

  &_active {
    visibility: visible;
    opacity: 1;
  }

  @media (width >= 1024px) {
    & {
      position: absolute;
      top: 72px;
      right: 62px;
      max-width: 350px;
      height: fit-content;
      background-color: var(--white);
      border-radius: 0 0 28px 28px;
    }

    @media (width >= 1440px) {
      & {
        right: calc((100vw - 1318px) / 2);
      }
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 24px;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 125%;

    @media (width >= 1024px) {
      & {
        display: none;
      }
    }
  }

  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 56px 16px 28px;

    @media (width >= 1024px) {
      & {
        padding: 28px;
      }
    }
  }

  &__nav-route {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 28px;
    row-gap: 24px;
  }

  &__nav-auth {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-top: 28px;
    border-top: 1px solid var(--background-grey-blue-40);
    row-gap: 24px;

    @media (width >= 1024px) {
      & {
        row-gap: 16px;
      }
    }
  }

  &__item {
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 125%;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (width >= 1024px) {
      & {
        font-weight: 500;
        font-size: 20px;
      }
    }

    &_color_black {
      color: var(--text-black-80);
    }

    &_color_grey {
      color: var(--text-black-40);
    }

    &_disabled {
      color: var(--background-grey);
      cursor: default;
    }
  }
}
