.addresses {
  padding: 0 16px 16px;

  &__title {
    margin: 0;
    padding-bottom: 20px;
    color: var(--accent-black-80);
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }

  &__input {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
