.counter {
  width: 84px;
  height: 16px;
  display: flex;
  margin: 20px;
  align-items: center;

  &__btn {
    cursor: pointer;
    border: none;
    background: var(--background-grey-light-blue-40);
    padding: 0;
  }
}
