%text-style {
  margin: 0;
}

.about-truck {
  padding-top: 4px;
  padding-bottom: 28px;

  &__info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__description {
    @extend %text-style;

    padding-top: 24px;
    padding-bottom: 8px;
    color: var(--text-black-40);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
  }

  &__data {
    @extend %text-style;

    color: var(--text-black-80);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.35;
  }

  &__certificate {
    @extend %text-style;

    display: inline-block;
    padding-top: 12px;
    padding-bottom: 4px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.25;
    text-decoration: none;
    border-bottom: 2px solid var(--accent-yellow-light);
  }

  &__rating-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 4px;
    padding-bottom: 8px;
  }

  &__rating {
    @extend %text-style;

    padding-left: 4px;
    color: var(--text-black-80);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.45;
  }
}
