.menu {
  position: absolute;
  top: 64px;
  z-index: 3;
  width: 100%;
  min-width: 390px;
  max-width: 1024px;
  color: var(--text-black-80);
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 1.25;
  background-color: var(--white);
  border-radius: 0 0 28px 28px;
  transition: top 0.35s ease;

  &__container {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 0 24px 56px;

    @media (width >= 1024px) {
      & {
        display: none;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    row-gap: 38px;
  }

  &__item {
    display: block;
    color: var(--text-black-40);
    font-weight: 700;
    font-size: 20px;
    font-family: Mulish, Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 1.25;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &_active {
      color: var(--text-black-80);
    }
  }

  &_display-none {
    top: -320px;
    transition: top 0.35s ease;
  }
}
