.auth {
  min-width: 358px;
  height: 100vh;
  padding: 4px 16px 0;
  background-color: var(--background-grey-light-blue-40);

  &__input {
    padding-top: 24px;
  }

  &__checkbox {
    padding-top: 24px;
  }

  &__button {
    padding-top: 28px;
    padding-bottom: 56px;
  }
}
