.number-input {
	min-width: 326px;
	padding: 12px 16px;
	color: var(--text-black-90);
	font-weight: 500;
	font-size: 18px;
	font-family: Mulish, Helvetica, Arial, sans-serif;
	line-height: 1.25;
	background: var(--background-white);
	border: none;
	border-radius: 12px;
	outline: none;
	box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

	&:focus {
		border: 1px solid var(--accent-yellow-light);
		caret-color: var(--accent-yellow-light);
		box-shadow: none;
	}

	&_filled {
		border: 2px solid var(--accent-yellow-light);
		box-shadow: none;
	}

	&_error {
		border: 1px solid var(--system-error);
		box-shadow: none;
	}
}
