%icon-style {
  position: absolute;
  top: 30px;
  right: 12px;
}

.password-input {
  border-radius: 12px;

  &__placeholder {
    position: absolute;
    top: 25px;
    left: 12px;
    display: block;
    color: var(--text-black-40);
    font-size: 18px;
  }

  &__container {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__button {
    background-color: transparent;
    border: none;
  }

  &__delete-icon,
  &__eye-icon {
    @extend %icon-style;

    display: none;
  }

  &__error-text {
    display: none;
    margin: 0;
    padding: 4px 0 0 16px;
    color: var(--system-error);
    font-size: 12px;
  }

  &:not(&_filled) &__text:not(:focus) ~ &__icon {
    display: inherit;
  }

  &_filled:not(&_readonly).password-input_invalid &__delete-icon,
  &_filled:not(&_readonly) &__text:focus ~ &__delete-icon {
    display: inherit;
  }

  &_filled:not(&_readonly) &__text:not(:focus) ~ &__eye-icons &__eye-icon {
    display: inherit;
  }

  &__text {
    box-sizing: border-box;
    width: 100%;
    min-width: 299px;
    padding: 38px 42px 12px 12px;
    color: var(--text-black-90);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
    background-color: var(--white);
    border: none;
    border-radius: 12px;
    outline: none;
    box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

    &:focus {
      border: 1px solid var(--accent-yellow-light);
      box-shadow: none;
      caret-color: var(--accent-yellow-light);
    }
  }

  &_invalid &__text:not(:focus) {
    border: 1px solid var(--system-error);
    box-shadow: none;

    & ~ .password-input__error-text {
      display: block;
    }

    & ~ .password-input__delete-icon {
      display: none;
    }
  }

  &_filled:not(&_readonly, &_invalid) &__text:not(:focus) {
    padding: 37px 41px 11px 11px;
    border: 2px solid var(--accent-yellow-light);
    box-shadow: none;
  }

  &_filled &__placeholder,
  &__text:focus ~ .password-input__placeholder {
    top: 12px;
    font-size: 14px;
  }
}
