.arrow {
  position: absolute;
  top: -38px;
  right: 16px;
  display: flex;
  flex-shrink: 0;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  padding: 4px;
  background-color: var(--transparant-white-90, rgb(255 255 255 / 90%));
  border: 1px solid var(--accent-yellow-light, #fc0);
  border-radius: 40px;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);
}
