.square-checkbox {
  width: 24px;
  height: 24px;

  &__input {
    visibility: hidden;

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #fff;
      transform: translate(-50%, -50%);
      content: '\2022';
    }
  }

  &__label {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
  }

  &:checked + &__label {
    background: #000;
  }

  &__title {
    color: var(--accent-black-80, #3b3e49);
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
  }
}
