.advantage-card {
  max-width: 174px;
  max-height: 172px;
  padding: 28px 28px 23px;
  margin-left: 16px;
  background-color: var(--white);
  border-radius: 28px;
  box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

  &__title {
    margin: 0;
    padding-top: 20px;
    color: var(--text-black-80);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.25;
  }

  &__subtitle {
    margin: 0;
    padding-top: 16px;
    color: var(--text-black-80);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25;
  }
}
