.popup-cancellations {
  &__title {
    margin: 0 0 20px;
    color: var(--text-black-80, #3b3e49);
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
  }

  &__subtitle {
    margin: 0 0 24px;
    color: var(--accent-black-80, #3b3e49);
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
  }
}
