.popup-cancellations {
  &__title {
    color: var(--text-black-80, #3b3e49);
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 20px;
  }

  &__subtitle {
    color: var(--accent-black-80, #3b3e49);
    font-size: 20px;
    font-weight: 700;
    line-height: 125%;
    margin: 0 0 24px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 28px;
  }
  &__text {
    color: var(--accent-black-80, #3b3e49);
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
    margin-right: auto;
    max-width: 250px;
  }
}
