%text-style {
	margin: 0;
	color: var(--text-black-80);
	font-family: Mulish, Helvetica, Arial, sans-serif;
}

.feedback-card {
	max-width: 264px;
	height: 180px;
	margin-right: 20px;
	padding: 28px;
	background-color: var(--white);
	border-radius: 28px;
	box-shadow: 0 0 20px 0 rgb(134 146 159 / 15%);

	&__rating {
		@extend %text-style;

		padding-left: 8px;
		font-weight: 700;
		font-size: 24px;
		line-height: 1.45;
	}

	&__name {
		@extend %text-style;

		padding-top: 20px;
		overflow: hidden;
		font-weight: 500;
		font-size: 18px;
		line-height: 1.25;
		white-space: nowrap;
		text-overflow: ellipsis;
	}

	&__feedback {
		@extend %text-style;

		display: -webkit-box;
		padding-top: 20px;
		overflow: hidden;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.35;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		/* stylelint-disable-next-line property-no-unknown */
		box-orient: vertical;
		-webkit-line-clamp: 5;
	}
}
