.order-completed {
  width: 100%;
  min-width: 390px;
  max-width: 768px;
  padding: 28px 0 39px;
  background-color: var(--background-grey-light-blue-40);

  &__header {
    padding: 0 16px;
  }

  &__elect-container {
    display: flex;
    padding: 40px 0 28px 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__caption {
    margin: 0;
    padding-left: 16px;
    color: var(--text-black-80);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
  }
}
