name: Frontend workflow

on:
  push:
    branches:
      - develop

jobs:

  build_and_push_to_docker_hub:
    name: Push Docker image to DockerHub
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repo
      uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker 
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }} 
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Push to Docker Hub frontend
      uses: docker/build-push-action@v3
      with:
        context: ./frontend/
        push: true
        tags: ${{ secrets.DOCKER_USERNAME }}/tte_frontend:latest
